{% extends 'base.html' %}

{% block content %}
    <style>
     .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        border-radius: 5px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 16px;
        background-color: #fff;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: pink;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    .logged-user {
        margin-top: 20px;
        font-size: 16px;
    }
    </style>
    <h2>Boulder eintragen</h2>
            <h3>Jäger/in: {{ username }}</h3>

<form class="form-container" method="post" action="{% url 'jagd:add_boulders_view' %}">
    {% csrf_token %}
    {% for field in form %}
        {% if 'boulder_' in field.name %}
            {{ field.label_tag }} {{ field }}
        {% endif %}
    {% endfor %}
     <input type="submit" value="Boulder hinzufügen!" class="submit-button">
</form>


       <p><a href="{% url 'jagd:ranking_view' %}" class="button">Das Ranking</a></p>
    <p><a href="{% url 'jagd:view_boulder' %}" class="button" >Ihr Ergebnis anzeigen</a></p>
     <p><a href="{% url 'jagd:home' %}" class="button" >Startseite</a></p>
        <br/>
        <br/>
         <div class="logged-user" style="margin-top: 20px; font-size: 16px;">

    </div>
{% endblock %}
